body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.range__container{
    box-sizing: border-box;
    /* border: 2px solid red; */
    position: relative;
    padding: 0;
    margin: 0;
}


input[type="range"]{
    appearance: none;
    background-color: rgb(96, 72, 233);
    width: 200px;
    border-radius: 10px;
   
}


label{
    display: block;
    position: absolute;
    left: 85px;
    top: -20px;
    width: 30px;
    height: 20px;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;

}


/* chrome or edge or newer versions of opera or safari */
input[type="range"]::-webkit-slider-runnable-track{
    width: 100%;
    height: 10px;
    cursor: pointer;
   
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius:50% ;
    margin-top: -2.1px;
    cursor: pointer;
    border: 1px solid rgb(96, 72, 233);;
    background-color: white;
   
}



/* Mozilla firefox */
input[type="range"]::-moz-range-track{
    width: 100%;
    height: 10px;
    cursor: pointer;
   
}


input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius:50% ;
    margin-top: -2.1px;
    cursor: pointer;
    border: 1px solid rgb(96, 72, 233);;
    background-color: white;
   
}




/* IE */
input[type="range"]::-ms-track{
    width: 200px;
    height: 10px;
    cursor: pointer;
   
}


input[type="range"]::-ms-thumb{
    -ms-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius:50% ;
    margin-top: -2.1px;
    cursor: pointer;
    border: 1px solid rgb(96, 72, 233);;
    background-color: white;
   
}








